.cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  overflow: auto;

  &__items {
    margin: 0 0 24px;
  }

  &__payments {
    margin: auto 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__payment {
    flex: 1 1 0;
    margin: 0 0 0 24px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__buy-container {
    margin: 24px 0 0;
    display: flex;
  }

  &__buy {
    flex-grow: 2;

    &--with-calculator {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__cash-calculator {
    padding-top: 0;
    padding-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid var(--accent-active);
  }
}

.cart-item {
  padding: 0 0 8px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;

  &:not(:last-child) {
    margin: 0 0 8px;
  }

  &__name {
    font-weight: 700;
  }

  &__option {
    margin: 4px 0 0;
    display: flex;
    justify-content: space-between;
    color: #888;
    font-size: 14px;
    font-weight: 500;
  }

  &__price-counter {
    margin: 4px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price,
  &__cost {
    flex: 1 1 0;
  }

  &__counter {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 3px 4px;
    background: #eee;
    border-radius: 100px;
  }

  &__count {
    width: 40px;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__inc-dec {
    padding: 4px;
    background: #fff;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 300;
    color: #444;
    user-select: none;
  }

  &__cost {
    text-align: right;
    font-weight: 700;
  }
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: color-mix(in srgb, var(--accent) 50%, #fff);
  }

  &--selected {
    background: color-mix(in srgb, var(--accent) 7%, #fff);
    border-color: var(--accent);
    color: var(--accent);

    &:hover {
      border-color: var(--accent);
    }
  }

  &__icon {
    font-size: 36px;
  }

  &__name {
    margin: 12px 0 0;
    font-weight: 700;
  }
}
