.tabs {
  padding: 12px 16px 0;

  &__row {
    display: flex;
    overflow: auto;
  }

  &__tab {
    flex: 1 1 0;
    min-width: 110px;
    margin: 0 0 0 12px;
    padding: 12px 12px 14px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 18px;
    transition: all 0.2s ease;

    &:hover {
      border-color: color-mix(in srgb, var(--accent) 50%, #fff);
    }

    &:first-child {
      margin-left: 0;
    }

    &--active {
      color: var(--accent);

      &,
      &:hover {
        background: color-mix(in srgb, var(--accent) 10%, #fff);
        border-color: var(--accent);
      }
    }
  }

  &__img {
    flex-shrink: 0;
    height: 48px;
  }

  &__name {
    flex-grow: 2;
    margin: 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
  }
}
