.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 0;
  background: #fff;

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 24px;
    color: #999;

    &:not(&--active):hover {
      color: color-mix(in srgb, var(--accent) 50%, #999);
    }

    &--active {
      color: var(--accent);
    }
  }

  &__item-icon {
    padding: 16px 16px 14px;
    border-radius: 12px;
    transition: all 0.2s ease;
  }

  &__item:not(&__item--active):hover &__item-icon {
    background: color-mix(in srgb, var(--accent) 5%, #fff);
  }
  &__item--active &__item-icon {
    background: color-mix(in srgb, var(--accent) 10%, #fff);
  }

  &__no-wifi {
    margin: auto 0 0;
    padding: 12px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: color-mix(in srgb, var(--error) 50%, #fff);
    cursor: help;
  }
}

::ng-deep {
  .navbar-tooltip {
    pointer-events: none;
  }
}
