<div class="page__sidebar navbar">
  @for (item of navbarItems; track item.path) {
    <a
      class="navbar__item"
      [routerLink]="item.path"
      routerLinkActive="navbar__item--active"
      [matTooltip]="item.tooltip"
      matTooltipPosition="after"
      matTooltipClass="navbar-tooltip"
    >
      <mat-icon class="navbar__item-icon">{{ item.iconName }}</mat-icon>
    </a>
  }

  @if (!(connectionService.isOnline$ | async)) {
    <mat-icon
      class="navbar__no-wifi"
      matTooltip="Немає зʼєднання з інтернетом"
      matTooltipPosition="after"
    >
      wifi_off
    </mat-icon>
  }
</div>
