<app-page-content backUrl="..">
  <ng-container page-title>Замовлення №{{ order()?.id }}</ng-container>

  <ng-container page-toolbar>
    <button
      class="mdc-button--danger mdc-button--toolbar"
      mat-raised-button
      [disabled]="!order() || isLoading()"
      (click)="deleteOrder()"
    >
      Видалити
    </button>
  </ng-container>


  @if (order()) {
    <div class="order">
      <div class="order__info">
        <div class="order__col">
          <div class="order__row">
            <div class="order__label">
              Дата
            </div>

            <div class="order__value">
              {{ order().createdAtIso | date:'dd.MM.YYYY HH:mm:ss' }}
            </div>
          </div>

          <div class="order__row">
            <div class="order__label">
              ---
            </div>

            <div class="order__value">
              ---
            </div>
          </div>
        </div>

        <div class="order__col">
          <div class="order__row">
            <div class="order__label">
              Продавець
            </div>

            <div class="order__value">
              ---
            </div>
          </div>

          <div class="order__row">
            <div class="order__label">
              Клієнт
            </div>

            <div class="order__value">
              ---
            </div>
          </div>
        </div>
      </div>

      <div class="order__items">
        <table
          class="mat-elevation-z1"
          mat-table
          [dataSource]="order().orderItems"
        >

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Назва </th>
            <td mat-cell *matCellDef="let orderItem">
              {{ oi(orderItem).name }}

              @for (option of oi(orderItem).selectedOptions; track option.optionId) {
                <div class="order-item__option">
                  {{ option.optionName }}: {{ option.optionValueName }}
                </div>
              }

              @if (oi(orderItem).isExpanded) {
                <div class="order-item__ingredients">
                  @for (ingredient of oi(orderItem).ingredients; track ingredient.ingredientId) {
                    <div class="order-item__ingredient">
                      — {{ ingredient.name }}
                    </div>
                  }
                </div>
              }
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> К-ть </th>
            <td mat-cell *matCellDef="let orderItem">
              {{ oi(orderItem).qty }} шт.

              @if (oi(orderItem).isExpanded) {
                <div class="order-item__price-details">
                  &nbsp;
                </div>

                <div class="order-item__ingredients">
                  @for (ingredient of oi(orderItem).ingredients; track ingredient.ingredientId) {
                    <div class="order-item__ingredient">
                      {{ ingredient.qty }}{{ ingredient.unit | unit }}
                    </div>
                  }
                </div>
              }
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <ng-container matColumnDef="primeCost">
            <th mat-header-cell *matHeaderCellDef> Витрати </th>
            <td mat-cell *matCellDef="let orderItem">
              {{ oi(orderItem).totalPrimeCost }} ₴

              @if (oi(orderItem).isExpanded) {
                <div class="order-item__price-details">
                  {{ oi(orderItem).primeCost }} ₴/шт.
                </div>

                <div class="order-item__ingredients">
                  @for (ingredient of oi(orderItem).ingredients; track ingredient.ingredientId) {
                    <div class="order-item__ingredient">
                      {{ ingredient.totalPrice }} ₴
                    </div>
                  }
                </div>
              }
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ order().totalPrimeCost }} ₴
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Ціна </th>
            <td mat-cell *matCellDef="let orderItem">
              {{ oi(orderItem).totalPrice }} ₴

              @if (oi(orderItem).isExpanded) {
                <div class="order-item__price-details">
                  {{ oi(orderItem).price }} ₴/шт.
                </div>

                <div class="order-item__ingredients">
                  @for (ingredient of oi(orderItem).ingredients; track ingredient.ingredientId) {
                    <div class="order-item__ingredient">
                      &nbsp;
                    </div>
                  }
                </div>
              }
            </td>
            <td mat-footer-cell *matFooterCellDef class="order__total-price">
              {{ order().totalPrice }} ₴
            </td>
          </ng-container>

          <ng-container matColumnDef="profit">
            <th mat-header-cell *matHeaderCellDef> Прибуток </th>
            <td mat-cell *matCellDef="let orderItem">
              {{ oi(orderItem).totalProfit }} ₴ <span class="order-item__percent">({{ oi(orderItem).markupPercent }}%)</span>

              @if (oi(orderItem).isExpanded) {
                <div class="order-item__price-details">
                  {{ oi(orderItem).profit }} ₴/шт.
                </div>

                <div class="order-item__ingredients">
                  @for (ingredient of oi(orderItem).ingredients; track ingredient.ingredientId) {
                    <div class="order-item__ingredient">
                      &nbsp;
                    </div>
                  }
                </div>
              }
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ order().totalProfit }} ₴
            </td>
          </ng-container>

          <ng-container matColumnDef="isExpanded">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef>
              <mat-icon class="order-item__expand">
                keyboard_arrow_up
              </mat-icon>
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            class="order-item table__row table__row--clickable"
            mat-row
            *matRowDef="let orderItem; columns: displayedColumns;"
            [class.order-item--expanded]="oi(orderItem).isExpanded"
            (click)="oi(orderItem).isExpanded = !oi(orderItem).isExpanded"
          ></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </div>

      <div class="order__prices">
        <div class="order__row">
          <div class="order__label order__label--prices">
            Оплата
          </div>

          <div class="order__value order__value--prices">
            @switch (order().paymentType) {
              @case (paymentTypeEnum.Cash) {
                Готівка
              }
              @case (paymentTypeEnum.Card) {
                Картка
              }
            }
          </div>
        </div>

        <div class="order__row">
          <div class="order__label order__label--prices">
            Загалом
          </div>

          <div class="order__value order__value--prices order__value--total-price">
            {{ order().totalPrice }} ₴
          </div>
        </div>
      </div>
    </div>
  }
</app-page-content>

@if (isLoading()) {
  <app-preloader></app-preloader>
}
