<div class="page-content">
  <div class="page-content__header">
    @if (backUrl()) {
      <a
        class="page-content__back material-symbols-rounded"
        [routerLink]="backUrl()"
      >
        chevron_left
      </a>
    }

    <div class="page-content__title">
      <ng-content select="[page-title]"></ng-content>
    </div>

    <div class="page-content__toolbar">
      <ng-content select="[page-toolbar]"></ng-content>
    </div>
  </div>

  <div class="page-content__main">
    <ng-content></ng-content>
  </div>
</div>
