<app-page-content backUrl="..">
  <div page-title>{{ isNewProduct() ? 'Новий товар' : product()?.name }}</div>

  @if (!isNewProduct()) {
    <button
      class="btn btn--danger"
      page-toolbar-item
      [disabled]="!product() || isLoading()"
      (click)="deleteProduct()"
    >
      Видалити
    </button>
  }

  <button
    class="btn"
    page-toolbar-item
    [disabled]="!product() || isLoading()"
    (click)="save()"
  >
    Зберегти
  </button>


  @if (form) {
    <div class="form" [formGroup]="form">
      <div class="form__row">
        <div class="form__label">
          Назва
        </div>

        <div class="form__input-container">
          <input
            class="form__input"
            formControlName="name"
            type="text"
          >
        </div>
      </div>

      <div class="form__row">
        <div class="form__label">
          Ціна
        </div>

        <div class="form__input-container">
          <input
            class="form__input"
            formControlName="price"
            type="number"
            min="0"
          >
        </div>
      </div>

      <div class="form__row">
        <div class="form__label">
          Категорія
        </div>

        <div class="form__input-container">
          <mat-form-field class="option__input">
            <mat-label>Категорія</mat-label>

            <mat-select formControlName="categoryId">
              @for (category of categoryService.cachedCategories(); track category.id) {
                <mat-option [value]="category.id">{{ category.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form__row form__row--no-align">
        <div class="form__label form__label--options">
          Опції
        </div>

        <div class="form__input-container">
          @for (optionForm of optionsFormArray.controls; track optionForm) {
            <div class="option" [formGroup]="optionForm">
              <mat-form-field class="option__input">
                <mat-label>Опція</mat-label>

                <mat-select formControlName="optionId">
                  @for (option of getProductOptionsForDropdown($index); track option.id) {
                    <mat-option [value]="option.id">{{ option.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <button
                class="option__delete material-symbols-outlined"
                (click)="deleteSelectedOption($index)"
              >
                delete
              </button>

              @for (optionValueForm of optionForm.controls.optionValues.controls; track optionValueForm) {
                <div class="option__value" [formGroup]="optionValueForm">
                  <mat-checkbox
                    class="option__input"
                    formControlName="isEnabled"
                  >
                    Включити?
                  </mat-checkbox>

                  <mat-form-field class="option__input">
                    <mat-label>Назва</mat-label>

                    <input
                      matInput
                      type="text"
                      formControlName="name"
                    >
                  </mat-form-field>

                  <mat-checkbox
                    class="option__input"
                    formControlName="isPriceDiffOverridden"
                  >
                    Перезадати ціну?
                  </mat-checkbox>

                  <mat-form-field class="option__input">
                    <mat-label>Різниця ціни</mat-label>

                    <span matTextPrefix>{{ optionValueForm.controls.priceDiff.getRawValue() >= 0 ? '+' : '&nbsp;&nbsp;' }}</span>
                    <input
                      matInput
                      type="number"
                      formControlName="priceDiff"
                    >
                    <span matTextSuffix>&nbsp;₴</span>
                  </mat-form-field>
                </div>
              }
            </div>
          }

          <div class="form__row form__row--no-border-bottom">
            <button
              class="add-new"
              (click)="addSelectedOptionForm()"
            >
              <span class="add-new__icon material-symbols-outlined">add</span>

              Додати нову опцію
            </button>
          </div>
        </div>
      </div>

      <div class="form__row">
        <div class="form__label">
          Фото
        </div>

        <div class="form__input-container">
        </div>
      </div>
    </div>
  }
</app-page-content>

@if (isLoading()) {
  <app-page-preloader></app-page-preloader>
}
