.product {
  max-width: 800px;
  margin: 0 auto;

  &__section {
    margin: 0 0 8px;
    padding: 16px 24px;
    background: #fefefe;
    border: 1px solid #ccc;
    border-radius: 8px;

    &--with-header-btn {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__delete {
    padding: 8px;
    transition: color 0.2s ease;
    font-size: 24px;

    &:hover {
      color: var(--error);
    }
  }

  &__section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }

  &__prices {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  &__copy-variant {
    margin: 0 0 0 8px;
  }

  &__selected-options {
    font-size: 14px;
    color: #999;
  }
}

.copy-variant {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;

  &__trigger {
    margin: 0 0 0 8px;
    font-size: 18px;
  }
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__qty {
    width: 130px;
  }

  &__price {
    width: 130px;
  }
}

.options {
  padding: 0 14px;
}

.option {
  margin: 0 0 10px;
  padding: 10px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  &__name-container {
    display: flex;
    align-items: center;
  }

  &__values {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }

  &__value {
    display: flex;
    margin: 0 0 0 4px;
    min-height: 36px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.2s ease;

    &:first-child {
      margin-left: 0;
    }

    &--btn {
      cursor: pointer;

      &:hover {
        background: #f3f3f3;
      }
    }

    &--selected {
      background: #ddd;

      &:hover {
        background: #ccc;
      }
    }

    &--new {
      padding: 0 8px;
    }

    &--icon {
      padding: 0 8px;
    }
  }

  &__value-new-icon {
    display: flex;
    align-items: center;
    margin: 0 4px 0 0;
    padding: 8px 4px;
    font-size: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__value-name {
    padding: 0 8px;
    display: flex;
    align-items: center;
  }

  &__value-icon {
    display: flex;
    padding: 8px 4px;
    font-size: 18px;
    color: #666;
    transition: color 0.2s ease;

    &--edit {
      &:hover {
        color: var(--text-color);
      }
    }

    &--delete {
      &:hover {
        color: var(--error);
      }
    }
  }
}

