<div
  class="product"
  [class.product--with-options]="hasOptions()"
  (click)="onClick()"
>

  <div class="product__photo-name">
    <div class="product__photo">
      <app-img [url]="product().photoUrl" [name]="product().name"></app-img>
    </div>

    <div class="product__name-price">
      <div class="product__name">
        {{ product().name }}
      </div>

      <div class="product__price">
        {{ calcPrice() }} ₴
      </div>
    </div>
  </div>

  @if (hasOptions()) {
    <div class="product__options">
      @for (option of product().options; track option.optionId) {
        <div class="product__option option">
          <div class="option__name">
            {{ productOptionService.getProductOptionName(option.optionId) }}
          </div>

          <div class="option__values">
            @for (optionValue of option.optionValues; track optionValue.optionValueId) {
              <div
                class="option__value"
                [class.option__value--selected]="isOptionValueSelected(option.optionId, optionValue.optionValueId)"
                (click)="selectOptionValue(option.optionId, optionValue.optionValueId)"
              >
                {{ productOptionService.getProductOptionValueName(option.optionId, optionValue.optionValueId) }}
              </div>
            }
          </div>
        </div>
      }
    </div>

    <button
      class="product__add"
      [disabled]="!isAllOptionsSelected()"
      (click)="addToCart()"
    >
      Додати
    </button>
  }
</div>
