.product {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #666;
  user-select: none;
  text-align: left;
  align-items: initial;

  &__photo {
    height: 90px;
  }

  &__name {
    padding: 16px 8px;
    word-wrap: break-word;
  }

  &__price {
    margin-top: auto;
    padding: 16px 8px;
  }
}
