.page {
  display: flex;
  height: 100vh;
  min-width: 700px;

  &__sidebar {
    flex-shrink: 0;
    min-width: 0;
    overflow: auto;
  }

  &__content {
    flex-grow: 2;
    min-width: 0;
    background: #f3f3f3;
    overflow: auto;
  }
}
