<app-page-content backUrl="..">
  <div page-title>{{ isNewCategory() ? 'Нова категорія' : category()?.name }}</div>

  @if (!isNewCategory()) {
    <button
      class="btn btn--danger"
      page-toolbar-item
      [disabled]="!category() || isLoading()"
      (click)="deleteCategory()"
    >
      Видалити
    </button>
  }

  <button
    class="btn"
    page-toolbar-item
    [disabled]="!category() || isLoading()"
    (click)="save()"
  >
    Зберегти
  </button>


  @if (form) {
    <div class="form" [formGroup]="form">
      <div class="form__row">
        <div class="form__label">
          Назва
        </div>

        <div class="form__input-container">
          <input
            class="form__input"
            formControlName="name"
            type="text"
          >
        </div>
      </div>

      <div class="form__row">
        <div class="form__label">
          Фото
        </div>

        <div class="form__input-container">
          @if (form.controls.photoUrl.getRawValue()) {
            <app-photo-asset
              [photoUrl]="form.controls.photoUrl.getRawValue()"
            ></app-photo-asset>
          } @else {
            <app-photo-uploader
              [uploadUrl]="photoUploadUrl"
              (uploaded)="onPhotoUpload($event)"
            ></app-photo-uploader>
          }
        </div>
      </div>
    </div>
  }
</app-page-content>

@if (isLoading()) {
  <app-preloader></app-preloader>
}
