<app-page-content backUrl="..">
  <ng-container page-title>{{ isNewCategory ? 'Нова категорія' : category()?.name }}</ng-container>

  <ng-container page-toolbar>
    @if (!isNewCategory) {
      <button
        class="mat-btn mat-btn--danger mat-btn--toolbar"
        mat-raised-button
        [disabled]="!category() || isLoading()"
        (click)="deleteCategory()"
      >
        Видалити
      </button>
    }

    <button
      class="mat-btn mat-btn--success mat-btn--toolbar"
      mat-raised-button
      [disabled]="!category() || isLoading()"
      (click)="save()"
    >
      Зберегти
    </button>

  </ng-container>


  @if (form) {
    <div class="form" [formGroup]="form">
      <div class="form__row">
        <mat-form-field class="form__wide-input">
          <mat-label>Назва</mat-label>

          <input
            formControlName="name"
            matInput
            type="text"
          >
        </mat-form-field>
      </div>

      <div class="form__row">
        @if (form.controls.photoUrl.getRawValue()) {
          <app-photo-asset
            [photoUrl]="form.controls.photoUrl.getRawValue()"
          ></app-photo-asset>
        } @else {
          <app-photo-uploader
            [uploadUrl]="photoUploadUrl"
            (uploaded)="onPhotoUpload($event)"
          ></app-photo-uploader>
        }
      </div>
    </div>
  }
</app-page-content>

@if (isLoading()) {
  <app-preloader></app-preloader>
}
