<app-page-content backUrl="..">
  <div page-title>{{ isNewProductOption() ? 'Нова опція товару' : productOption()?.name }}</div>

  @if (!isNewProductOption()) {
    <button
      class="btn btn--danger"
      page-toolbar-item
      [disabled]="!productOption() || isLoading()"
      (click)="deleteProductOption()"
    >
      Видалити
    </button>
  }

  <button
    class="btn"
    page-toolbar-item
    [disabled]="!productOption() || isLoading()"
    (click)="save()"
  >
    Зберегти
  </button>


  @if (form) {
    <div class="form" [formGroup]="form">
      <div class="form__row">
        <div class="form__label">
          Назва
        </div>

        <div class="form__input-container">
          <input
            class="form__input"
            formControlName="name"
            type="text"
          >
        </div>
      </div>

      <div class="form__row form__row--no-align form__row--values">
        <div class="form__label form__label--values">
          Значення
        </div>

        <div class="form__input-container">
          @for (valueGroup of valuesFormArray.controls; track valueGroup) {
            <div class="form__row" [formGroup]="valueGroup">
              <div class="form__label">
                Опція #{{ $index + 1 }}
              </div>

              <div class="form__input-container option-value">
                <mat-form-field class="option-value__input">
                  <mat-label>Назва</mat-label>
                  <input matInput type="text" formControlName="name">
                </mat-form-field>

                <mat-form-field class="option-value__input">
                  <mat-label>Різниця ціни</mat-label>
                  <input matInput type="number" formControlName="priceDiff">
                </mat-form-field>

                <button
                  class="option-value__delete material-symbols-rounded"
                  (click)="deleteOptionValue($index)"
                >delete</button>
              </div>
            </div>
          }

          <div class="form__row">
            <button
              class="add-new"
              (click)="addOptionValue()"
            >
              <span class="add-new__icon material-symbols-rounded">add</span>

              Додати нову опцію
            </button>
          </div>
        </div>
      </div>
    </div>
  }
</app-page-content>

@if (isLoading()) {
  <app-preloader></app-preloader>
}
