.pos {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    width: 25%;
    min-width: 360px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-left: 1px solid #ccc;
  }

  &__category {
    flex-grow: 2;
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
  }

  &__cart-tabs {
    display: flex;
    padding: 4px 4px 0;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__add-cart-tab {
    margin: 0 0 0 1px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    font-size: 17px;
    font-weight: 400;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;

    &:hover {
      background: #ddd;
    }
  }

  &__cart {
    flex-grow: 2;
  }
}

.cart-tab {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;

  &:not(&--active):hover {
    background: #ddd;
  }

  &--active {
    background: #fff;
  }

  &__close {
    font-size: 14px;
    margin: 0 0 0 4px;
    padding: 0 4px;
  }

  &__name {
    font-size: 14px;
  }
}

.category {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 0 0;
    padding: 16px;
    overflow: auto;
  }

  &__product {
    margin: 0 20px 20px 0;
  }
}
