<div class="pos">
  <div class="pos__category category">
    <div class="category__tabs">
      <app-category-tabs [categoryId]="categoryId()"></app-category-tabs>
    </div>

    <div class="category__products">
      @for (product of products(); track product.id) {
        <app-product
          class="category__product"
          [class.category__product--with-options]="product.options.length"
          [product]="product"
        ></app-product>
      }
    </div>
  </div>

  <div class="pos__sidebar">
    <div class="pos__header">
      <div class="pos__cart-tabs">
        @for (cart of cartService.carts(); track cart.createdAtIso) {
          <div
            class="pos__cart-tab cart-tab"
            [class.cart-tab--active]="cartService.currentCartIndex() === $index"
          >
            <button
              class="cart-tab__name"
              (click)="cartService.selectCart($index)"
            >
              {{ cart.createdAtIso | date: 'HH:mm' }}
            </button>

            <button
              class="cart-tab__close material-symbols-rounded"
              (click)="deleteCart(cart, $index)"
            >
              delete
            </button>
          </div>
        }

        <button
          class="pos__add-cart-tab material-symbols-rounded"
          (click)="cartService.createNewCart()"
        >
          add
        </button>
      </div>
    </div>

    <div class="pos__cart">
      <app-cart></app-cart>
    </div>
  </div>
</div>
