<app-page-content>
  <div page-title>Категорії</div>

  <div
    class="categories"
    cdkDropList
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)"
  >
    @for (category of categories(); track category.id) {
      <a
        class="categories__category"
        [routerLink]="[category.id]"
        cdkDrag
      >
        <span class="categories__category-drag-icon material-symbols-rounded">drag_indicator</span>

        @if (category.photoUrl) {
          <img class="categories__photo" [src]="buildPhotoUrl(category.photoUrl)" alt="">
        }

        {{ category.name }}
      </a>
    }

    <a
      class="categories__category categories__category--add"
      routerLink="add"
    >
      <span class="categories__photo material-symbols-rounded">add_box</span>
      Нова категорія
    </a>
  </div>
</app-page-content>

@if (isLoading()) {
  <app-preloader></app-preloader>
}
