/* You can add global styles to this file, and also import other style files */
@import 'reset-css';
@import "assets/styles/material";
@import "assets/styles/button";
@import "assets/styles/toastr";
@import "assets/styles/form";
@import "assets/styles/table";

:root {
  --text-color: #111;

  --accent: #00bc00; // #0078d4 - blue
  --accent-active: lch(from var(--accent) calc(l - 10) c h);
  --accent-disabled: #ccc;

  --accent-text-color: #fff;
  --accent-text-color-disabled: #666;

  --success: #52c41a;
  --warning: #faad14;
  --error: #ff4d4f;
  --info: #1677ff;

  --font-family: "Nunito Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: var(--text-color);
}

button,
input {
  padding: 0;
  background: none;
  border: none;
  font: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
