.form {
  &__row {
    margin: 16px 0 0;
    padding: 0 0 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;

    &:first-child {
      margin-top: 0;
    }
  }

  &__label {
    flex-shrink: 0;
    margin: 0 24px 0 0;
    font-size: 18px;
  }

  &__input-container {
    flex-grow: 2;
  }

  &__input {
    width: 100%;
    padding: 4px 8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
