.form {
  &__cols {
    display: flex;
  }

  &__col {
    flex-grow: 2;
    flex-shrink: 0;
  }

  &__row {
    margin: 8px 0 0;
    padding: 0 0 8px;
    border-bottom: 1px solid #ccc;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }

    &--no-border-bottom {
      border-bottom: none;
    }
  }

  &__input {
    width: 100%;
    padding: 6px 8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__wide-input {
    &#{&} {
      min-width: 400px;
      width: 30%;
      max-width: 100%;
    }
  }
}
